#charts {
    background-image: url("../pictures/chartsBACKGROUND.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: auto;
    background-size: cover;
    height: auto;
    width: auto;
    color: white;
    font-family: impact;
}

#blackText {
    color : white;
}

.piechart {
    margin-left: 9%;
    margin-top: 5%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(pink 120deg,lightblue 120deg,orange 120deg);
}

#text1 {
    padding-left: 6%;
    font-size: 25px
}

.fwd {
    color: Cornsilk;
    font-size: 16px;
    text-align: left;
    padding-left: 7%;
}

.bck {
    color: RosyBrown;
    font-size: 16px;
    text-align: left;
    padding-left: 7%;
}

.quit {
    color: DarkGray;
    font-size: 16px;
    text-align: left;
    padding-left: 7%;
}


.fwdP {
    color: Cornsilk;
    font-size: 16px;
    text-align: right;
    margin-left: 65%;
    position: absolute
}

.bckP {
    color: RosyBrown;
    color: RosyBrown;
    font-size: 16px;
    margin-left: 65%;
    position: absolute
}

.quitP {
    color: DarkGray;
    font-size: 16px;
    text-align: right;
    margin-left: 65%;
    position: absolute
}


.container {
    border-radius: 25px;
    background-color: rgba(173, 216, 230, .5);
}

.head {
    margin-right: 6%
}

.sameLine {
    display: flex;
    width: 30%;
}

.fwdPAP {
    color: Cornsilk;
    font-size: 16px;
    text-align: right;
    padding-left: 65%;
    position : absolute;
}

.noChart {
    color: Cornsilk;
    font-size: 20px;
    text-align: right;
    margin-left: 45%;
    position: absolute
}

.avgTime {
    color: Cornsilk;
    text-align: right;
    margin-left: 33%;
    position: absolute
}