.navbar{
    background-color: lightblue;

}

.navbar-custom .navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
}
#navbarDropdown {
    background-color: lightblue;
}
#clinicLogo {
    font-size: 30px;
    font-weight: 100;
    font-family: Impact;
    color : white;
}

.btn {
    background-color: lightblue;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}


.text {
    color: #014779;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
}
.textSurvey {
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
    position: inherit;
}
label {
    color: #014779;
}
h4 {
    color: #014779;
    font-family: 'Impact';
    text-decoration: underline;
}
th {
    background-color: lightblue;
    color: #014779;
    font-family: 'Impact';
    font-weight: 100;
}
.text2 {
    font-family: 'Impact';
    font-size: 38px;
}

footer {
    background-color: lightblue;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}

.sameLineHeader {
    display: flex;
    width: 20%;
}

.navItem {
    color : white;
    font-size : 30px;
    font-family : Impact;
}

.login {
    position : absolute;
    margin-left : 70%;
}
