
.navbar-custom {
    background-color: Cyan;
}

.navbar-custom .navbar-brand{
    color: white;
    font-size :30px;
    font-weight :100;
    font-family : 'Impact';
}

#navbarDropdown {
    background-color: Cyan;
}

#clinicLogoTxt {
   padding-left : 260px;
   font-size : 36px;
   font-weight : 100;
   font-family : Impact;
}

#clinicLogoPic {
    padding-bottom: 10px;
}


.btn {
    background-color: Cyan;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight : 100;
}